.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/simulations/raw_sims
inst/simulations/raw_sims_2
inst/papers
inst/fpspatiotemp_manu/fpspatiotemp_manu_cache
inst/fpspatiotemp_manu/fpspatiotemp_manu_files
inst/rawdata