.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/simulations/raw_sims
inst/papers
inst/data_private
inst/doc
inst/ADFG_Taylor_Corridor
/doc/
/Meta/
inst/preprint_springer/preprint_springer_cache
inst/preprint_springer/preprint_springer_files
inst/reviewer_comments.md
